<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StarPlayerPC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <applicationSettings>
        <StarPlayerPC.My.MySettings>
            <setting name="playlistName" serializeAs="String">
                <value>StarPlayerPC™ playlist</value>
            </setting>
            <setting name="playlistExtension" serializeAs="String">
                <value>.spp</value>
            </setting>
            <setting name="playlistSeperator" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="vlcPath" serializeAs="String">
                <value>C:\Program Files (x86)\VideoLAN\VLC\vlc.exe</value>
            </setting>
        </StarPlayerPC.My.MySettings>
    </applicationSettings>
</configuration>
